body{
    background-color: #f9f7fe;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 120px auto;
    max-width:600px;
}
a{
    color:#89a3f8 ;
}

header{
    margin-bottom: 30px;
}

h1{
    font-weight: 800;
    text-align: center;
    font-size:36px;
    line-height:1.5;
    color: #272004;
}
form{
    padding: 30px;
    background-color:rgb(194, 191, 191) ;
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 20px 60px rgba(65,50,100,0.2);
    margin-bottom: 30px;
}
.instructions{
    padding: 16px;
    border: 1px solid rgba(39,33,0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
}
.submit-button{
margin-left: 10px;
background-color:#89a3f8 ;
border:none ;
border-radius: 50px;
padding: 24px;
color: white;
width: 140px;
font-size: 16px;
}
.submit-button:hover{

    background-color: #6a8bf8;
    color: #272004;
}


.poem{
    font-size: 16px;
    white-space: pre-wrap;
    background-color: white;
    padding:24px ;
    line-height: 1.6px;
    border-left: 3px solid #89a3f8;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.2);
}
footer{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}